* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
}

p, h1 , h2, h3, h4, h5, h6, a, legend {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header-container {
	background-color: #DCE1E3;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
	font-family: "Sofia";
	font-size: 50px;
	color: #191970;
}

.header-container p {
	left: 0;
	font-size: 20px;
}

#name {
	text-decoration: none;
}


.price-card {
	color: #557A95;
	font-size: large;
	text-align: center;
}

.name-card {
font-size: 17px;
text-align: center;
color: #5C5F58;
font-weight: bold;

}

footer {
	position: sticky;
	left: 0;
	bottom: 0;
	height: 40px;
	width: 100%;
	background-color: #004E7C;
	color: white;
	text-align: center;
	padding-top: 10px;
}

#footer-p {
	margin-bottom: 0;
}

.navbar-inverse {
	background-color: #5C5F58;
	border-radius: 0px 0px 5px 5px;
}

.navbar-inverse .navbar-nav>li>a {
	color: #9D9D9D;
}
.navbar-inverse .navbar-nav>li>a:hover {
	background-color: #d47a72;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
	color: #d47a72;
	background-color: #262825;
}

.navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-brand:hover {
	color: #9d9d9d;
}


.row {
	margin: 0px;
}
